@charset "UTF-8";

.store-btn-area {
  margin: 60px auto;
  text-align: center;
}

.store-btn-area a {
  margin: 0 auto;
  padding: 10px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

.store-btn-area a.btn-app-store {
  background: url(img/btn-app-store.png) no-repeat;
  width: 280px;
  height: 50px;
  text-indent: -9876px;
  display: block;
  background-position: center center;
  background-color: #000;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  .store-btn-area a.btn-app-store {
    background-image: url(img/btn-app-store@2x.png);
    -webkit-background-size: 280px 50px;
    -moz-background-size: 280px 50px;
    -o-background-size: 280px 50px;
    background-size: 280px 50px;
  }
}

.store-btn-area a.btn-google-play {
  background: url(img/btn-google-play.png) no-repeat;
  width: 280px;
  height: 50px;
  text-indent: -9876px;
  display: block;
  background-position: center center;
  background-color: #000;
  width: 280px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  .store-btn-area a.btn-google-play {
    background-image: url(img/btn-google-play@2x.png);
    -webkit-background-size: 280px 50px;
    -moz-background-size: 280px 50px;
    -o-background-size: 280px 50px;
    background-size: 280px 50px;
  }
}

.store-btn-area a:hover {
  background-color: #666;
}